<h1>Welcome <%= @user.first_name %> to your show page </h1>

<% if @user.events %> 
    <% @user.events.each do |event|%>
        <p> <%= event.title %></p>
    <% end %>
<% else  %> 
    <p>You have no events!! Search all public events</p>
<% end %> 

<br>
<br>
<h3>List of messages a user is part of</h3>

<h5>Group Messages:</h5>

<% @user.events.each do |event| %> 
    <p><%= event.title %> Messages</p>
<% end %>

<br>

<h5>Direct Messages:</h5>


<% @user.people_messaged.each do |msg| %> 
    <p><%= link_to msg.sender.first_name, "#{@user.id}/direct_message/#{msg.sender_id}" %> </p>
<% end %>
