/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 @import "group_messages.css.scss"; 
 
 .event-members {
    
    overflow-y: scroll;
    height: fit-content;
    // border-radius: 2rem;
    max-height: 50vh;
    width: 100%;
    padding: 0;
}

.message-input {
    position: absolute;
    bottom: 0;
    width: 90%;
}

.message{
    height: 70vh;
    max-width: 1160px;
    overflow-y: scroll;
    border-radius: 1rem;
    margin-bottom: 5px;
}

.group-message {
    background-color: #eaeaea;
}