// Place all the styles related to the GroupMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event-members {
    
    overflow-y: scroll;
    height: fit-content;
    max-height: 50vh;
}

.group-message {
    height: 60vh;
    width: 55vw;
    overflow-y: scroll;
    background-color: #eaeaea;
}